:root {
  /* fonts */
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;

  /* text colors */
  --main-txt-cl: #212121;
  --accent-txt-cl: #2196f3;
  --btn-txt-cl: #ffffff;
  --contacts-txt-cl: #757575;
  --title-txt-cl: #e5e5e5;
  --main-title-txt-cl: #e5e5e5;

  /* bg colors */
  --dark-bg-cl: #2f303a;
  --light-bg-cl: #f5f4fa;

  /* Others */
}

body {
  font-family: var(--main-font);
  color: var(--main-txt-cl);
}

button {
  font-family: var(--main-font);
}

/* reset styles */
.link {
  text-decoration: none;
  color: currentColor;
}

.list {
  list-style: none;
}

/* base style */

.work-btn-item {
  border: none;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  letter-spacing: 0.03em;
  background-color: var(--light-bg-cl);
  cursor: pointer;
}

.hero-btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  background-color: var(--accent-txt-cl);
  color: var(--btn-txt-cl);
  cursor: pointer;
}

.btn-mode-ligh {
  color: var(--main-txt-cl);
}

.hero-btn:hover,
.hero-btn:focus {
}

.work-btn-item:hover,
.work-btn-item:focus {
  background-color: var(--accent-txt-cl);
  color: var(--btn-txt-cl);
}

/* Header section */

.header-link {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--main-txt-cl);
}

.header-phone:hover,
.header-phone:focus,
.header-mail:hover,
.header-mail:focus,
.header-link:hover,
.header-link:focus {
  color: var(--accent-txt-cl);
}

.header-phone,
.header-mail {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--contacts-txt-cl);
}

/* logo section */

.logo-link {
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--main-txt-cl);
  text-decoration: none;
}
.logo-accent {
  color: var(--accent-txt-cl);
}

/* hero section */

.hero {
  background-color: var(--dark-bg-cl);
}

.main-title {
  color: var(--title-txt-cl);
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-title-txt-cl);
}

/* team section */

.team {
  background-color: var(--light-bg-cl);
}

/* about section */

.about-description {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
}

.about h3 {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-txt-cl);
}

.about p {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--contacts-txt-cl);
}

/* team section */

.team {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-txt-cl);
}

.team h3 {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-txt-cl);
}

.team p {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--contacts-txt-cl);
}

/* work section */

.work h3 {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
  color: var(--main-txt-cl);
}

.work p {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.03em;
  color: var(--contacts-txt-cl);
}

/* footer section */

.footer-logo-link {
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  color: var(--btn-txt-cl);
}

.footer-logo-accent {
  color: var(--accent-txt-cl);
}

.footer {
  background-color: var(--dark-bg-cl);
}

.footer-item {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
}

.footer-link {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--btn-txt-cl);
}

.footer-mail:hover,
.footer-mail:focus,
.footer-phone:hover,
.footer-phone:focus,
.footer-link:hover,
.footer-link:focus {
  color: var(--accent-txt-cl);
}

.footer-mail,
.footer-phone {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
